<mat-toolbar>
  <button (click)="toggleSidebar()" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Episode List</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div *ngIf="loading" class="loading">
  <h3>Loading...</h3>
</div>
<mat-drawer-container class="example-container" *ngIf="!loading">
  <mat-drawer mode="side" class="drawer" [opened]="drawerOpen">
    <div class="no-data" *ngIf="!data.length">
      <h1>No Episodes</h1>
    </div>
    <mat-list *ngIf="data.length">
      <ng-container *ngFor="let item of data">
        <mat-list-item class="tab" (click)="setView(item.id)">Episode - {{ item.name}}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="no-current-data" *ngIf="!currentData">
        <h1>No Data</h1>
      </div>
      <mat-card *ngIf="currentData">
        <h1>{{ currentData.name }}</h1>
        <div class="release-date">
          <span>Release Date: </span> &nbsp;
          <span>{{ currentData.release_date | date }}</span>
        </div>
      <div>
        <h3><u>Characters</u></h3>
        <div *ngIf="!currentData.characters.length">
          <h5>No Characters</h5>
        </div>
        <mat-list *ngIf="currentData.characters.length">
          <ng-container *ngFor="let character of currentData.characters, let i=index">
            <mat-list-item>
              <span>{{ i+1 }}.</span>&nbsp;&nbsp;
              <span>Name: </span> &nbsp;
              <span class="capitalize">{{ character.first_name }}</span>&nbsp;
              <span class="capitalize">{{ character.last_name }}</span> &nbsp;&nbsp;&nbsp;&nbsp;
              <span>Gender: </span> &nbsp;
              <span class="capitalize">{{ character.gender }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
              <span>Status: </span> &nbsp;
              <span class="capitalize">{{ character.status }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
              <span>Location: </span> &nbsp;
              <span class="capitalize">{{ character.location }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
        </div>
      <div>
        <h3><u>Comments</u></h3>
        <div *ngIf="!currentData.episode_comments.length">
          <h5>No Comments</h5>
        </div>
        <mat-list *ngIf="currentData.episode_comments.length">
          <ng-container *ngFor="let item of currentData.episode_comments">
            <mat-list-item>&gt;&gt;&nbsp;&nbsp;{{ item.comments }}</mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="" [disabled]="partialLoading" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="newComment"></textarea>
          </mat-form-field>
          &nbsp;
          <div class="post-btn">
            <button mat-button color="accent" (click)="postComment()">{{ partialLoading ? "..." : "Post"}}</button>
          </div>
        </form>
        </div>
    </mat-card>
    </mat-drawer-content>
    </mat-drawer-container>
